<div class="flex items-center justify-center w-full h-full">
	<div class="w-[20vw] flex flex-col gap-5">
		<h1 class="text-2xl font-bold text-white">Sign in to Twitter</h1>
		<input
			class="w-full px-3 py-4 text-white bg-transparent border rounded outline-none border-neutral-700 focus:border-sky-400 focus:border-2"
			type="text"
			placeholder="Username"
			[(ngModel)]="user.username"
		/>
		<input
			class="w-full px-3 py-4 text-white bg-transparent border rounded outline-none border-neutral-700 focus:border-sky-400 focus:border-2"
			type="text"
			placeholder="Password"
			[(ngModel)]="user.password"
		/>
		<button
			(click)="handleLoginButtonClick()"
			class="w-full py-2 font-bold bg-white rounded-full hover:bg-neutral-100 active:bg-neutral-200"
		>
			Next
		</button>
		<button
			class="w-full py-2 font-bold text-white bg-transparent border rounded-full hover:bg-neutral-900 active:bg-neutral-800"
		>
			Forgot password
		</button>
		<p class="mt-5 text-neutral-500">Don't have an account? <a class="text-sky-400" href="">Signup</a></p>
	</div>
</div>
