<div class="flex flex-row gap-3 p-4 text-white border-b-2 border-neutral-800">
	<div class="h-full w-fit">
		<img
			class="w-12 h-12 rounded-full cursor-pointer hover:opacity-95"
			src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
		/>
	</div>
	<div class="flex flex-col flex-1 gap-2 text-white">
		<textarea
			class="w-full text-xl bg-transparent outline-none resize-none"
			spellcheck="false"
			placeholder="What's happening?"
			oninput="this.style.height = 'auto';this.style.height = this.scrollHeight + 'px';"
			[(ngModel)]="this.text"
		></textarea>
		<div class="flex justify-end w-full">
			<button
				(click)="this.handleSubmit()"
				class="px-4 py-1 font-bold text-white rounded-full bg-sky-500 hover:bg-sky-600 active:bg-sky-700"
			>
				Tweet
			</button>
		</div>
	</div>
</div>
