<div class="flex flex-row w-full p-4 h-fit border-neutral-800 border-y-2">
	<div class="h-full mr-3 w-fit">
		<img
			class="w-12 h-12 rounded-full cursor-pointer hover:opacity-95"
			src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
		/>
	</div>
	<div class="flex flex-col flex-1">
		<div class="flex flex-row justify-between">
			<div class="flex flex-row gap-2">
				<a class="font-semibold text-white hover:underline" href="/@{{ this.username }}">{{ this.fullname }}</a>
				<span class="flex flex-row gap-2 font-medium text-neutral-500"
					><a href="/@{{ this.username }}">@{{ this.username }}</a>
					<p>·</p>
					<p>{{ timeSince(this.createdAt) }}</p></span
				>
			</div>
			<img class="cursor-pointer more" src="assets/more-horizontal.svg" />
		</div>
		<div class="text-white">
			{{ this.text }}
		</div>
		<div class="flex flex-row justify-between w-full pr-8 mt-3">
			<p title="Reply" class="flex flex-row gap-1 cursor-pointer comment text-neutral-500">
				<img class="w-5" src="assets/message-circle.svg" />3
			</p>
			<p title="Repost" class="flex flex-row gap-1 cursor-pointer repost text-neutral-500">
				<img class="w-5" src="assets/repeat.svg" />7
			</p>
			<p title="Like" class="flex flex-row gap-1 cursor-pointer like text-neutral-500">
				<img class="w-5" src="assets/heart.svg" />170
			</p>
			<p title="Views" class="flex flex-row gap-1 cursor-pointer views text-neutral-500">
				<img class="w-5" src="assets/bar-chart.svg" />33.1K
			</p>
			<p title="Share" class="cursor-pointer share">
				<img class="w-5" src="assets/share.svg" />
			</p>
		</div>
	</div>
</div>
