<body class="flex flex-row justify-center w-full h-full gap-10">
	<nav class="pt-3 flex flex-col gap-3 text-xl w-[10vw] text-white">
		<a
			class="{{
				this.router.url == '/' ? 'font-semibold' : 'font-normal'
			}} flex gap-4 px-4 py-3 rounded-full w-fit hover:bg-neutral-800 active:bg-neutral-700"
			routerLink=""
			><img src="assets/{{ this.router.url == '/' ? 'home-solid' : 'home' }}.svg" />Home</a
		>
		<a
			class="{{
				this.router.url == '/profile' ? 'font-semibold' : 'font-normal'
			}} flex gap-4 px-4 py-3 rounded-full w-fit hover:bg-neutral-800 active:bg-neutral-700"
			routerLink="profile"
		>
			<img src="assets/{{ this.router.url == '/profile' ? 'user-solid' : 'user' }}.svg" />Profile</a
		>
		<a class="w-full px-5 py-3 text-center rounded-full bg-sky-500 hover:bg-sky-600 active:bg-sky-700" routerLink="tweet"
			>Tweet</a
		>
	</nav>
	<main class="w-[35vw] border-neutral-800 border-x-2">
		<router-outlet></router-outlet>
	</main>
</body>
