<!-- Transparent Background -->
<div class="absolute z-[99] w-full h-full top-0 left-0 bg-neutral-200 bg-opacity-10">
	<!-- Popup -->
	<div
		class="z-50 gap-2 flex flex-col absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%] bg-black rounded-xl w-[30vw] h-fit p-5 text-white overflow-hidden"
	>
		<div class="self-end flex-1">
			<img class="cursor-pointer" src="assets/x.svg" (click)="this.popupService.closePopup('editor')" />
		</div>
		<div class="flex flex-row items-start gap-3">
			<div class="h-full w-fit">
				<img
					class="object-cover w-12 h-12 rounded-full cursor-pointer hover:opacity-95"
					src="{{ this.authService.user.profilePicture || '/assets/profile.webp' }}"
				/>
			</div>
			<div class="flex flex-col flex-1 gap-2 text-white">
				<textarea
					class="w-full text-xl bg-transparent outline-none resize-none max-h-[50vh] overflow-y-scroll"
					spellcheck="false"
					placeholder="What's happening?"
					[(ngModel)]="this.text"
					oninput="this.style.height = 'auto';this.style.height = this.scrollHeight + 'px';"
				>
				</textarea>
				<div class="flex justify-end w-full">
					<button
						class="px-4 py-1 font-bold text-white rounded-full bg-sky-500 hover:bg-sky-600 active:bg-sky-700"
						(click)="this.handleSubmit()"
					>
						{{ this.popupService.updatePost.text ? "Update" : "Tweet" }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
