<nav class="pt-3 flex flex-col gap-3 text-xl w-[10vw] text-white">
	<a
		class="{{ font('/') }} flex gap-4 px-4 py-3 rounded-full w-fit hover:bg-neutral-800 active:bg-neutral-700"
		routerLink=""
		><img src="{{ icon('/') }}" />Home</a
	>
	<a
		class="{{ font('/profile') }} flex gap-4 px-4 py-3 rounded-full w-fit hover:bg-neutral-800 active:bg-neutral-700"
		routerLink="profile"
	>
		<img src="{{ icon('/profile') }}" />Profile</a
	>
	<a
		*ngIf="this.authService.isLoggedIn()"
		class="w-full px-5 py-3 text-center rounded-full bg-sky-500 hover:bg-sky-600 active:bg-sky-700"
		routerLink="tweet"
		>Tweet</a
	>
</nav>
